svg {
    height: 500px;
    width: 500px;
    background-image: url("clockbackground.jpg");
    background-size: cover;
}

line {
    stroke-width: 2;
}

#lineHour {
    stroke: red;
}

#lineMinute {
    stroke: blue;
}

#lineSecond {
    stroke: green;
}